.counter {
    padding-left: 30px;
}
body {
    background-color: #e9ecef;
}
#browser-navigator {
    margin-bottom: 20px;
    display: block;
}
.image-container {
    background: white;
}
img.pwa {
    margin: auto;
    padding-left: 0;
    display: block;
}
.jumbotron-fluid {
    margin-bottom: 0;
}
i {
    padding-right: 15px;
    padding-left: 10px;
    width: 50px;
}
i.fas.fa-times {
    color: red;
}
i.fas.fa-check {
    color: green;
}