.counter {
    padding-left: 30px;
}
#browser-navigator {
    margin-bottom: 20px;
    display: block;
}
i {
    padding-right: 15px;
    padding-left: 10px;
    width: 50px;
}
i.fas.fa-times {
    color: red;
}
i.fas.fa-check {
    color: green;
}